.section-map 
	.container 
		.section-map__map 
			.mapicon
			img(src="./img/map.jpg" alt="")
			.section-map__contacts 
				.section-map__title.h2 Контакты
				.section-map__subtitle Телефон для справок
				.section-map__text 10:00 – 20:00 (Пн-Пт)
					a(href="+7 (831) 123-45-67") +7 (831) 123-45-67
					a(href="+7 (920) 123-65-22") +7 (920) 123-65-22
				.section-map__subtitle Электронная почта
				.section-map__text
					a(href="mailto:info@donflot.ru") info@donflot.ru
				.section-map__subtitle Причал
				.section-map__text №8О
				.section-map__subtitle Офис компании
				.section-map__text 344019, г. Ростов-на-Дону, ул. Нижегородская, д.20/11