main.main
	.container
		.main-top
			.main-top__img 
				img(src="./img/routes-top-detail.jpg" alt="")
			.main-top__desc
				.breadcrumbs 
					ul 
						li 
							a Главная 
						li 
							a Маршруты
						li Юрино
				h1.h1 Юрино
				button.button.button-ticket(href="") Купить билет
		.fleet 
			.fleet__about 
				.fleet__text 
					p Основной сферой деятельности компании «ДОН» являются речные пассажирские перевозки по внутренним водным путям на скоростных пассажирских судах «Валдай 45Р».
					p На сегодняшний день компания располагает пятью судами на подводных крыльях «Валдай 45Р». Путешествуя, вы увидите великие русские реки, вековые монастыри и церкви, а также познакомитесь с традициями и обычаями народов России. Ваш отдых наполнится прекрасными речными пейзажами, чистым свежим воздухом, блеском речной волны и позволит узнать историю, культуру и достопримечательности малых и больших городов России.
				.fleet__text
					p Суда на подводных крыльях, изобретённые Р.Е. Алексеевым, имеют малопогружные крылья трапециевидной или плоской формы, которые обладают высокими гидродинамическими качествами. В таких схемах используется свойство плоского крыла: уменьшение величины подъёмной силы вблизи свободной поверхности при уменьшении погружения. Благодаря этому свойству и наличию вспомогательных стабилизирующих элементов обеспечивается вертикальная, поперечная и продольная устойчивость движения судна на подводных крыльях на спокойной воде. На этом и основан принцип самостабилизации крыла, движущегося в приповерхностном слое. Этот принцип также получил название «эффект Алексеева».
		.section-gallery 
			.h2 Фотогалерея
			.section-slider 
				.section-slider__slide 
					a.image-popup(href="./img/gallery1.jpg")
						img(src="./img/gallery1.jpg" alt="")
				.section-slider__slide 
					a.image-popup(href="./img/gallery2.jpg")
						img(src="./img/gallery2.jpg" alt="")
				.section-slider__slide 
					a.image-popup(href="./img/gallery3.jpg")
						img(src="./img/gallery3.jpg" alt="")
				.section-slider__slide 
					a.image-popup(href="./img/gallery1.jpg")
						img(src="./img/gallery1.jpg" alt="")
				.section-slider__slide 
					a.image-popup(href="./img/gallery2.jpg")
						img(src="./img/gallery2.jpg" alt="")
				.section-slider__slide 
					a.image-popup(href="./img/gallery3.jpg")
						img(src="./img/gallery3.jpg" alt="")