main.main
	.section-categories
		.container
			p Список страниц
			ul 
				li
					a(href="index.html") Главная
				li
					a(href="about.html") О компании
				li
					a(href="fleet.html") Флот
				li
					a(href="fleet-detail.html") Флот детальная
				li
					a(href="routes.html") Маршруты
				li
					a(href="routes-detail.html") Маршруты детальная
				li
					a(href="actions.html") Акции
				li
					a(href="actions-detail.html") Акции детальная
				li
					a(href="news.html") Новости
				li
					a(href="news-detail.html") Новости детальная
				li
					a(href="search.html") Поиск
				li
					a(href="contacts.html") Контакты
				li
					a(href="text.html") Политика конфиденциальности

