main.main
	.container
		.breadcrumbs 
			ul 
				li 
					a Главная
				li Поиск
		h1.h1 поиск
		.page-search
			.page-search__block
				form.search__form(action="" method="get")
					button.search__button(type="submit")
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><circle cx="11.5" cy="11.5" r="9.5" stroke="#0C0C0C" stroke-width="1.5"/>  <path d="M18.5 18.5L22 22" stroke="#0C0C0C" stroke-width="1.5" stroke-linecap="round"/></svg>
					input.search__input(type="text" value="Флот" placeholder="Поиск") 
			.page-search__results 
				.page-search__counts Найдено 8 совпадений
				.page-search__result-section
					.page-search__result-block
						.h2 Акции
						.section-news__items 
							.section-news__item 
								.section-news__desc
									a.section-news__title(href="") Юрино
									.section-news__text Суда на подводных крыльях, изобретённые Р.Е. Алексеевым, имеют малопогружные крылья трапециевидной или плоской формы, которые обладают высокими гидродинамическими качествами. 
							.section-news__item 
								.section-news__desc
									a.section-news__title(href="") Юрино
									.section-news__text Суда на подводных крыльях, изобретённые Р.Е. Алексеевым, имеют малопогружные крылья трапециевидной или плоской формы, которые обладают высокими гидродинамическими качествами. 
					.page-search__result-block
						.h2 Новости
						.section-news__items 
							.section-news__item 
								.section-news__desc
									a.section-news__title(href="") Юрино
									.section-news__text Суда на подводных крыльях, изобретённые Р.Е. Алексеевым, имеют малопогружные крылья трапециевидной или плоской формы, которые обладают высокими гидродинамическими качествами. 
									.section-news__date 08.07.2022
							.section-news__item 
								.section-news__desc
									a.section-news__title(href="") Юрино
									.section-news__text Суда на подводных крыльях, изобретённые Р.Е. Алексеевым, имеют малопогружные крылья трапециевидной или плоской формы, которые обладают высокими гидродинамическими качествами. 
									.section-news__date 08.07.2022
					.page-search__result-block
						.h2 Другое
						.section-news__items 
							.section-news__item 
								.section-news__desc
									a.section-news__title(href="") Юрино
									.section-news__text Суда на подводных крыльях, изобретённые Р.Е. Алексеевым, имеют малопогружные крылья трапециевидной или плоской формы, которые обладают высокими гидродинамическими качествами. 
									.section-news__date 08.07.2022
							.section-news__item 
								.section-news__desc
									a.section-news__title(href="") Юрино
									.section-news__text Суда на подводных крыльях, изобретённые Р.Е. Алексеевым, имеют малопогружные крылья трапециевидной или плоской формы, которые обладают высокими гидродинамическими качествами. 
									.section-news__date 08.07.2022
							.section-news__item 
								.section-news__desc
									a.section-news__title(href="") Юрино
									.section-news__text Суда на подводных крыльях, изобретённые Р.Е. Алексеевым, имеют малопогружные крылья трапециевидной или плоской формы, которые обладают высокими гидродинамическими качествами. 
									.section-news__date 08.07.2022
							.section-news__item 
								.section-news__desc
									a.section-news__title(href="") Юрино
									.section-news__text Суда на подводных крыльях, изобретённые Р.Е. Алексеевым, имеют малопогружные крылья трапециевидной или плоской формы, которые обладают высокими гидродинамическими качествами. 
									.section-news__date 08.07.2022
							.section-news__item 
								.section-news__desc
									a.section-news__title(href="") Юрино
									.section-news__text Суда на подводных крыльях, изобретённые Р.Е. Алексеевым, имеют малопогружные крылья трапециевидной или плоской формы, которые обладают высокими гидродинамическими качествами. 
									.section-news__date 08.07.2022
							.section-news__item 
								.section-news__desc
									a.section-news__title(href="") Юрино
									.section-news__text Суда на подводных крыльях, изобретённые Р.Е. Алексеевым, имеют малопогружные крылья трапециевидной или плоской формы, которые обладают высокими гидродинамическими качествами. 
									.section-news__date 08.07.2022
							.section-news__item 
								.section-news__desc
									a.section-news__title(href="") Юрино
									.section-news__text Суда на подводных крыльях, изобретённые Р.Е. Алексеевым, имеют малопогружные крылья трапециевидной или плоской формы, которые обладают высокими гидродинамическими качествами. 
									.section-news__date 08.07.2022
							.section-news__item 
								.section-news__desc
									a.section-news__title(href="") Юрино
									.section-news__text Суда на подводных крыльях, изобретённые Р.Е. Алексеевым, имеют малопогружные крылья трапециевидной или плоской формы, которые обладают высокими гидродинамическими качествами. 
									.section-news__date 08.07.2022
