main.main
	.container
		.main-top
			.main-top__img 
				img(src="./img/news-detail.jpg" alt="")
			.main-top__desc
				.breadcrumbs 
					ul 
						li 
							a Главная 
						li 
							a Новости
						li Юрино
				h1.h1 Юрино
				.main-top__text Откройте для себя направление Юрино и его жемчужину – замок Шереметева.
				.main-top__date 08.07.2022
		.news-detail 
			.news-detail__about
				p На сегодняшний день компания располагает пятью судами на подводных крыльях «Валдай 45Р». Путешествуя, вы увидите великие русские реки, вековые монастыри и церкви, а также познакомитесь с традициями и обычаями народов России. Ваш отдых наполнится прекрасными речными пейзажами, чистым свежим воздухом, блеском речной волны и позволит узнать историю, культуру и достопримечательности малых и больших городов России.
				p Суда на подводных крыльях, изобретённые Р.Е. Алексеевым, имеют малопогружные крылья трапециевидной или плоской формы, которые обладают высокими гидродинамическими качествами. В таких схемах используется свойство плоского крыла: уменьшение величины подъёмной силы вблизи свободной поверхности при уменьшении погружения. Благодаря этому свойству и наличию вспомогательных стабилизирующих элементов обеспечивается вертикальная, поперечная и продольная устойчивость движения судна на подводных крыльях на спокойной воде. На этом и основан принцип самостабилизации крыла, движущегося в приповерхностном слое. Этот принцип также получил название «эффект Алексеева».
				p На сегодняшний день компания располагает пятью судами на подводных крыльях «Валдай 45Р». Путешествуя, вы увидите великие русские реки, вековые монастыри и церкви, а также познакомитесь с традициями и обычаями народов России. Ваш отдых наполнится прекрасными речными пейзажами, чистым свежим воздухом, блеском речной волны и позволит узнать историю, культуру и достопримечательности малых и больших городов России.
				p Суда на подводных крыльях, изобретённые Р.Е. Алексеевым, имеют малопогружные крылья трапециевидной или плоской формы, которые обладают высокими гидродинамическими качествами. В таких схемах используется свойство плоского крыла: уменьшение величины подъёмной силы вблизи свободной поверхности при уменьшении погружения. Благодаря этому свойству и наличию вспомогательных стабилизирующих элементов обеспечивается вертикальная, поперечная и продольная устойчивость движения судна на подводных крыльях на спокойной воде. На этом и основан принцип самостабилизации крыла, движущегося в приповерхностном слое. Этот принцип также получил название «эффект Алексеева».
				p На сегодняшний день компания располагает пятью судами на подводных крыльях «Валдай 45Р». Путешествуя, вы увидите великие русские реки, вековые монастыри и церкви, а также познакомитесь с традициями и обычаями народов России. Ваш отдых наполнится прекрасными речными пейзажами, чистым свежим воздухом, блеском речной волны и позволит узнать историю, культуру и достопримечательности малых и больших городов России.
				p Суда на подводных крыльях, изобретённые Р.Е. Алексеевым, имеют малопогружные крылья трапециевидной или плоской формы, которые обладают высокими гидродинамическими качествами. В таких схемах используется свойство плоского крыла: уменьшение величины подъёмной силы вблизи свободной поверхности при уменьшении погружения. Благодаря этому свойству и наличию вспомогательных стабилизирующих элементов обеспечивается вертикальная, поперечная и продольная устойчивость движения судна на подводных крыльях на спокойной воде. На этом и основан принцип самостабилизации крыла, движущегося в приповерхностном слое. Этот принцип также получил название «эффект Алексеева».
				p На сегодняшний день компания располагает пятью судами на подводных крыльях «Валдай 45Р». Путешествуя, вы увидите великие русские реки, вековые монастыри и церкви, а также познакомитесь с традициями и обычаями народов России. Ваш отдых наполнится прекрасными речными пейзажами, чистым свежим воздухом, блеском речной волны и позволит узнать историю, культуру и достопримечательности малых и больших городов России.
				p Суда на подводных крыльях, изобретённые Р.Е. Алексеевым, имеют малопогружные крылья трапециевидной или плоской формы, которые обладают высокими гидродинамическими качествами. В таких схемах используется свойство плоского крыла: уменьшение величины подъёмной силы вблизи свободной поверхности при уменьшении погружения. Благодаря этому свойству и наличию вспомогательных стабилизирующих элементов обеспечивается вертикальная, поперечная и продольная устойчивость движения судна на подводных крыльях на спокойной воде. На этом и основан принцип самостабилизации крыла, движущегося в приповерхностном слое. Этот принцип также получил название «эффект Алексеева».
		.section-news 
			.section-actions__inner
				.h2 Другие новости
				.section-slider.section-news__items 
					.section-news__item 
						a.section-news__img(href="" style="background-image:url(./img/news1.jpg)")
						.section-news__desc
							a.section-news__title(href="") Юрино
							.section-news__text Откройте для себя направление Юрино и его жемчужину – замок Шереметева.
							.section-news__date 08.07.2022
					.section-news__item 
						a.section-news__img(href="" style="background-image:url(./img/news2.jpg)")
						.section-news__desc
							a.section-news__title(href="") Юрино
							.section-news__text Откройте для себя направление Юрино и его жемчужину – замок Шереметева.
							.section-news__date 08.07.2022
					.section-news__item 
						a.section-news__img(href="" style="background-image:url(./img/news3.jpg)")
						.section-news__desc
							a.section-news__title(href="") Юрино
							.section-news__text Откройте для себя направление Юрино и его жемчужину – замок Шереметева.
							.section-news__date 08.07.2022
					.section-news__item 
						a.section-news__img(href="" style="background-image:url(./img/news1.jpg)")
						.section-news__desc
							a.section-news__title(href="") Юрино
							.section-news__text Откройте для себя направление Юрино и его жемчужину – замок Шереметева.
							.section-news__date 08.07.2022
					.section-news__item 
						a.section-news__img(href="" style="background-image:url(./img/news2.jpg)")
						.section-news__desc
							a.section-news__title(href="") Юрино
							.section-news__text Откройте для себя направление Юрино и его жемчужину – замок Шереметева.
							.section-news__date 08.07.2022
					.section-news__item 
						a.section-news__img(href="" style="background-image:url(./img/news3.jpg)")
						.section-news__desc
							a.section-news__title(href="") Юрино
							.section-news__text Откройте для себя направление Юрино и его жемчужину – замок Шереметева.
							.section-news__date 08.07.2022
				a.button.button_white.section-news__button(href="") Все новости