main.main
	.container
		.breadcrumbs 
			ul 
				li 
					a Главная 
				li Новости
		h1.h1 Новости
		.news
			.news__items 
				.news__item 
					a.news__img(href="" style="background-image:url(./img/news1.jpg)")
					.news__desc
						a.news__title(href="") Юрино
						.news__text Откройте для себя направление Юрино и его жемчужину – замок Шереметева.
						.news__date 08.07.2022
				.news__item 
					a.news__img(href="" style="background-image:url(./img/news2.jpg)")
					.news__desc
						a.news__title(href="") Юрино
						.news__text Откройте для себя направление Юрино и его жемчужину – замок Шереметева.
						.news__date 08.07.2022
				.news__item 
					a.news__img(href="" style="background-image:url(./img/news3.jpg)")
					.news__desc
						a.news__title(href="") Юрино
						.news__text Откройте для себя направление Юрино и его жемчужину – замок Шереметева.
						.news__date 08.07.2022
				.news__item 
					a.news__img(href="" style="background-image:url(./img/news4.jpg)")
					.news__desc
						a.news__title(href="") Юрино
						.news__text Откройте для себя направление Юрино и его жемчужину – замок Шереметева.
						.news__date 08.07.2022
				.news__item 
					a.news__img(href="" style="background-image:url(./img/news5.jpg)")
					.news__desc
						a.news__title(href="") Юрино
						.news__text Откройте для себя направление Юрино и его жемчужину – замок Шереметева.
						.news__date 08.07.2022
				.news__item 
					a.news__img(href="" style="background-image:url(./img/news6.jpg)")
					.news__desc
						a.news__title(href="") Юрино
						.news__text Откройте для себя направление Юрино и его жемчужину – замок Шереметева.
						.news__date 08.07.2022
				.news__item 
					a.news__img(href="" style="background-image:url(./img/news7.jpg)")
					.news__desc
						a.news__title(href="") Юрино
						.news__text Откройте для себя направление Юрино и его жемчужину – замок Шереметева.
						.news__date 08.07.2022
				.news__item 
					a.news__img(href="" style="background-image:url(./img/news8.jpg)")
					.news__desc
						a.news__title(href="") Юрино
						.news__text Откройте для себя направление Юрино и его жемчужину – замок Шереметева.
						.news__date 08.07.2022
				.news__item 
					a.news__img(href="" style="background-image:url(./img/news9.jpg)")
					.news__desc
						a.news__title(href="") Юрино
						.news__text Откройте для себя направление Юрино и его жемчужину – замок Шереметева.
						.news__date 08.07.2022
				.news__item 
					a.news__img(href="" style="background-image:url(./img/news10.jpg)")
					.news__desc
						a.news__title(href="") Юрино
						.news__text Откройте для себя направление Юрино и его жемчужину – замок Шереметева.
						.news__date 08.07.2022
				.news__item 
					a.news__img(href="" style="background-image:url(./img/news11.jpg)")
					.news__desc
						a.news__title(href="") Юрино
						.news__text Откройте для себя направление Юрино и его жемчужину – замок Шереметева.
						.news__date 08.07.2022
				.news__item 
					a.news__img(href="" style="background-image:url(./img/news12.jpg)")
					.news__desc
						a.news__title(href="") Юрино
						.news__text Откройте для себя направление Юрино и его жемчужину – замок Шереметева.
						.news__date 08.07.2022
